* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #616161;
  font-family: sans-serif;
  margin: 0;
}

.header-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
  height: 80px;
  padding-left: 42px;
  font-weight: 300;
}

span {
  color: #FC0F0C;
  font-weight: 600;
  padding-left: 5px;
}

.main-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

/* Form wrapper styling */

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 33.33%;
  padding: 30px 6px;
}

input[type="text"] {
  padding-left: 10px;
  width: 250px;
  height: 30px;
  margin-top: 15px;
  font-size: .9em;
  border-radius: 5px;
  border: none;
}

textarea {
  padding: 10px;
  width: 250px;
  height: 100px;
  margin-top: 15px;
  font-size: .9em;
  border-radius: 5px;
  border: none;

}

.drop-down {
  padding-left: 10px;
  width: 250px;
  height: 30px;
  margin-top: 15px;
  font-size: .9em;
  border: none;

}

input[type="button"] {
  -webkit-appearance: none;
  width: 200px;
  height: 30px;
  margin-top: 15px;
  font-size: 1em;
  border-radius: 5px;
  border: none;
}

/* Button wrapper styling */

.button-wrapper {
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  border-radius: 29px;
  margin-top: 15px;
  height: 50px;
  width: 50px;
  font-weight: 600;
}

